* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lata', sans-serif;
}

header {
    background-color: #8625d2;
    color: #fff;
    padding: 20px 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.page-title {
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
}

.content {
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 3px solid #eee;
}

th {
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    color: #666;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    border-radius: 6px;
}

.product .info {
    margin-left: 20px;
}

.product .info .name {
    font-size: 20px;
    margin-bottom: 10px;
}

.product .info .category {
    color: #666;
}